@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat.ttf");
    font-style:normal; 
    font-weight:lighter;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-bold.ttf");
    font-style:normal; 
    font-weight:normal;
}

@font-face {
    font-family: "Ermilov-Bold";
    src: url("../fonts/Ermilov-bold.otf");
    font-style:normal; 
    font-weight:normal;
}

@font-face {
    font-family: "OldClassic";
    src: url("../fonts/OldClassic.ttf");
    font-style:normal; 
    font-weight:normal;
}

