html,
body {
    height: 100%;

}

#container {
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: block;
}

#header {
    height: 902px;
    background: url('../img/headerBackground.jpg') no-repeat;
}

#header,
#assortedBouquetPage,
#tulipBouquetPage,
#subscribePage {
    width: 100%;
    background-size: cover;
    position: relative;
    display: flex;
}

#subscribePage {
    height: 902px;
    background: url('../img/subscribeBackground.jpg') no-repeat;
    z-index: 1;
}

#nav {
    width: 87%;
    height: 75px;
    display: inline-block;
    background-color: #515151;
    border-radius: 50px;
    position: relative;
    margin: 2% 5% 0 5%;
}

.navItem {
    display: inline-block;
    position: absolute;
    margin: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.navItem li {
    height: 75px;
    display: inline-block;
    padding: 0 50px 0 50px;
    transition: 1s;
}

.navItem a {
    text-decoration: none;
    font-family: 'Montserrat-Bold';
    font-size: 10pt;
    display: inline-block;
    color: #ffffff;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    transition: 1s;
}

.navItem li:hover {
    height: 75px;
    background-color: #ff040465;
    transition: 1s;
}

#logo {
    display: inline-block;
    margin: 0 10px 0 70px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

#logoSite p {
    color: #ffffff;
    font-size: 20px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

#logoSite {
    display: inline-block;
    width: 150px;
    height: 60px;
    margin: -50px 0 0 2%;
}

#headerDesriptionText {
    margin: 185px 0 0 5%;
}

#headerTitleText h1 {
    font-family: "Ermilov-Bold";
    color: #515151;
    font-size: 45pt;
}

#headerTitleText p {
    font-family: "OldClassic";
    color: #515151;
    font-size: 30pt;
    margin: 45px 0 0 0;
}

#headerbodyText {
    width: 600px;
    margin: 30px 0 0 0;
}

#headerbodyText p {
    text-align: left;
    color: #515151;
    font-size: 30pt;
}

#articleBtn {
    margin: 45px 0 0 0;
}

#purchase {
    display: inline-block;
    width: 160px;
    text-decoration: none;
    background-color: #e08e9c;
    color: #ffffff;
    font-size: 20pt;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    transition: 2s;
}

#purchase:hover {
    background-color: #51515100;
    color: #515151;
    transition: 2s;
}

#readMoreBtn {
    display: inline-block;
    width: 200px;
    text-decoration: none;
    color: #515151;
    font-size: 20pt;
    padding: 10px;
    text-align: center;
    margin: 0 0 0 50px;
    border-radius: 30px;
    transition: 2s;
}

#readMoreBtn:hover {
    background-color: #e08e9c;
    color: #ffffff;
    transition: 2s;
}

#discountPage {
    height: 265px;
    background: url('../img/flowersDiscountBackground.png') no-repeat;
    background-color: #e08e9c;
}

#discountTitle,
#ourProductTitle {
    font-family: "Ermilov-Bold";
    font-size: 35pt;
    text-align: center;
    padding: 20px 0 0 0;
    color: #ffffff;
}

#discountSubtitle,
#ourProductSubtitle {
    font-family: "OldClassic";
    font-size: 35pt;
    text-align: center;
    color: #ffffff
}

#ourProductPage {
    height: auto;
    background-color: #f0f0f0;
}

#ourProductTitle {
    color: #515151;
}

#ourProductSubtitle {
    display: block;
    position: relative;
    width: 800px;
    margin: 0px auto 0 auto;
    color: #515151;
}

#ourProduct {
    display: inline-block;
    margin: 150px 0 0 135px;
}

.flowerProductCategory {
    display: inline-block;
    position: relative;
    margin: 0 0 100px 0;
}

.flowersProductImg {
    width: 300px;
    height: 300px;
    display: inline-block;
    position: relative;
    background-color: #efd0ca;
    border-radius: 50%;
    box-shadow: 0px 35px 50px 0px rgb(164, 165, 164);
    object-fit: cover;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}

.flowersProductImg img {
    width: auto;
    height: 300px;
    display: block;
    margin: -50px auto 0 auto;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.flowerProductCategory h1 {
    width: 300px;
    font-family: "Ermilov-Bold";
    font-size: 15pt;
    text-align: center;
    color: #515151;
    margin: 55px auto 0 auto;
}

.flowerProductCategory p {
    width: 350px;
    font-family: "OldClassic";
    font-size: 20pt;
    text-align: left;
    color: #515151;
    margin: 23px 0 0 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.flowerProductCategory a {
    display: inline-block;
    text-decoration: none;
    color: #515151;
    padding: 10px;
    text-align: center;
    margin: 30px 0 5px 0px;
}

#formBtn {
    height: 50px;
    color: #ffffff;
    border-radius: 30px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0%);
    transition: 2s;
}

.flowerProductCategory a,
#formBtn {
    width: 200px;
    background-color: #a3aa68;
    font-size: 20pt;
    border-radius: 30px;
    transition: 2s;
}

#aboutUsPage {
    width: auto;
    height: auto;
    background-color: #FAD1CB;
}

#aboutUsBackgroundImg1 {
    height: 350px;
    background: url('../img/aboutUsBackground1.jpg') no-repeat;
}

#aboutUsBackgroundImg2 {
    height: 338px;
    background: url('../img/aboutUsBackground2.jpg') no-repeat;
    margin: -300px 0 0 0;
}

#aboutUsBackgroundImg1,
#aboutUsBackgroundImg2 {
    display: block;
    position: relative;
    margin-left: 64%;
    z-index: 1;
}

#aboutUsPage img {
    display: inline-block;
    position: relative;
    width: 650px;
    border-radius: 10%;
    margin: -250px 0 75px 60px;
    z-index: 2;
}

#aboutUsPageText,
#happyBirthdayPageText {
    display: inline-block;
    position: relative;
    width: 500px;
    left: 15%;
    transform: translate(-30%, -20%);
    z-index: 2;
}

#aboutUsPage h1,
#happyBirthdayPage h1 {
    left: 15%;
}

#aboutUsPage h1,
#assortedBouquetText h1,
#happyBirthdayPage h1,
#tulipBouquetText h1 {
    height: 80px;
    display: block;
    position: relative;
    font-family: "OldClassic";
    font-size: 45pt;
    color: #515151;
}

#aboutUsPage p,
#happyBirthdayPage p {
    width: 430px;
    display: block;
    position: relative;
    font-family: "OldClassic";
    font-size: 25pt;
    color: #515151;
    text-align: left;
    hyphens: auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    left: 12%;
}

#aboutUsPage a,
#happyBirthdayPage a,
#tulipBouquetText a {
    background-color: #515151;
    color: #FAD1CB;
    margin: 30px 0 5px 50px;
}

#tulipBouquetText a {
    margin: 30px 0 5px 5px;
}

#assortedBouquetPage a {
    color: #fabdb3;
    margin: 50px 0 5px 0;
}

#aboutUsPage a,
#assortedBouquetPage a,
#happyBirthdayPage a,
#tulipBouquetText a {
    display: block;
    width: 200px;
    text-decoration: none;
    font-size: 20pt;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    transition: 2s;
}

#aboutUsPage a:hover,
#happyBirthdayPage a:hover,
#tulipBouquetText a:hover {
    background-color: #51515100;
    color: #515151;
    transition: 2s;
}

#assortedBouquetPage {
    height: 902px;
    background: url('../img/assortedBouquetPage.jpg') no-repeat;
}

#tulipBouquetPage {
    height: 881px;
    background: url('../img/tulipBouquetBackground.jpg') no-repeat;
}

#assortedBouquetText {
    width: 500px;
    display: block;
    position: relative;
    top: 30%;
    left: 5%;
}

#assortedBouquetText p,
#tulipBouquetText p {
    width: 500px;
    display: block;
    position: relative;
    font-family: "OldClassic";
    font-size: 25pt;
    color: #515151;
    text-align: left;
    hyphens: auto;
}

#assortedBouquetPage a:hover {
    background-color: #515151;
    transition: 2s;
}

#happyBirthdayPage {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    background-color: #FAD1CB;
}

#happyBirthdayBackgroundImg1 {
    height: 350px;
    background: url('../img/aboutUsBackground1.jpg') no-repeat;
    margin-left: 64%;
}

#happyBirthdayBackgroundImg2 {
    height: 434px;
    background: url('../img/aboutUsBackground3.jpg') no-repeat;
    margin: -330px 0 0 0;
    margin-left: 64%;
}

#happyBirthdayBackgroundImg3 {
    height: 668px;
    background: url('../img/aboutUsBackground4.png') no-repeat;
    margin: 200px 0 0 0;
    margin-left: 5%;
}

#happyBirthdayBackgroundImg4 {
    height: 586px;
    background: url('../img/aboutUsBackground5.jpg') no-repeat;
    margin: -700px 0 0 0;
    margin-left: 64%;
}

#happyBirthdayBackgroundImg1,
#happyBirthdayBackgroundImg2,
#happyBirthdayBackgroundImg3,
#happyBirthdayBackgroundImg4 {
    display: block;
    position: relative;
    z-index: 1;
}

#happyBirthdayPage img {
    display: inline-block;
    position: relative;
    width: 650px;
    border-radius: 10%;
    margin: -250px 0 75px 60px;
    z-index: 2;
}

#happyBirthdayVideo {
    width: auto;
    height: auto;
    display: block;
    position: relative;
    z-index: 2;
}

#happyBirthdayVideo h1,
#happyBirthdayVideo p {
    max-width: 600px;
    width: auto;
    display: block;
    position: relative;
    font-family: "OldClassic";
    color: #515151;
    left: 50%;
    right: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 3;
}

#happyBirthdayVideo h1 {
    height: auto;
    font-size: 45pt;
    margin: -709px 0 auto 0;
}

#happyBirthdayVideo p {
    font-size: 25pt;
    hyphens: auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin: 70px 0 0px 0;
}

#happyBirthdayVideo img {
    max-width: 790px;
    width: auto;
    margin: 0 0 50px 0;
    left: 50%;
    right: 50%;
    margin-right: -50%;
    transform: translate(-50%, -10%);
    border-radius: 5%;
}

#tulipBouquetText {
    width: 500px;
    display: block;
    position: relative;
    top: 18%;
    left: 10%;
}

/**/


#formSubscribe {
    position: relative;
    max-width: 825px;
    width: 100%;
    min-width: 200px;
    height: 400px;
    left: 50%;
    right: 50%;
    margin-right: -50%;
    transform: translate(-30%, 70%);
}

#formSubscribe h1 {
    position: relative;
    max-width: 600px;
    width: 100%;
    font-family: "Ermilov-Bold";
    font-size: 25pt;
    text-align: center;
    hyphens: auto;
    color: #515151;
    left: 50%;
    right: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
}

#subscribePage input,
#subscribePage textarea {
    display: block;
    position: relative;
    border: 1px #bdbdbd solid;
    margin: 5px 0 5px 0;
}

.inputSubscribe {
    max-width: 825px;
    width: 100%;
    height: 50px;
    padding: 0 0 0 10px;
}

#userMessage {
    color: #515151;
    height: 150px;
    outline: none;
    resize: none;
    padding: 10px;
}

#footer {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    background-color: #424242;
}

#footerContainer {
    display: inline-block;
    position: relative;
    width: 100%;
    color: #ffffff;
    margin: 170px 0 0 0;
}

.footerMenuItem {
    display: inline-block;
    position: relative;
    margin: 10px 40px 0 50px;
    vertical-align: top;
}

.footerMenuItem h6 {
    font-family: "Montserrat-Bold";
    font-size: 25px;
    margin: 0 0 35px 0;
}

.footerMenuItem li,
.footerMenuItem p {
    margin: 0 0 25px 0;
}

.footerMenuItem a {
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    transition: 1s;
}

.footerMenuItem p {
    display: block;
    transition: 1s;
}

.footerMenuItem a,
.footerMenuItem p {
    width: 350px;
    font-family: "Montserrat";
    font-size: 15pt;
    color: #ffffff;
    text-align: left;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.footerMenuItem a:hover{
    background: rgba(0,0,0,0);
	color: #FAD1CB;
	box-shadow: inset 0 0 0 3px #FAD1CB;
    
}
